openapi: 3.1.0
info:
  title: PatternReveal API
  description: PatternReveal is a platform for revealing patterns in your daily
    reflections with people you care about.
  version: 0.0.1
  contact:
    name: PatternReveal Support
    email: info@patternreveal.xyz
    url: https://patternreveal.com/api
servers:
  - url: https://api.dub.co
    description: Production API
paths:
  /workspaces/{idOrSlug}:
    get:
      operationId: getWorkspace
      x-speakeasy-name-override: get
      summary: Retrieve a workspace
      description: Retrieve a workspace for the authenticated user.
      tags:
        - Workspaces
      security:
        - token: []
      parameters:
        - in: path
          name: idOrSlug
          description: The ID or slug of the workspace.
          schema:
            type: string
            description: The ID or slug of the workspace.
          required: true
      responses:
        "200":
          description: The retrieved workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSchema"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "409":
          $ref: "#/components/responses/409"
        "410":
          $ref: "#/components/responses/410"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
    patch:
      operationId: updateWorkspace
      x-speakeasy-name-override: update
      x-speakeasy-max-method-params: 2
      summary: Update a workspace
      description: Update a workspace by ID or slug.
      tags:
        - Workspaces
      security:
        - token: []
      parameters:
        - in: path
          name: idOrSlug
          description: The ID or slug of the workspace to update.
          schema:
            type: string
            description: The ID or slug of the workspace to update.
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: The updated workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSchema"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "409":
          $ref: "#/components/responses/409"
        "410":
          $ref: "#/components/responses/410"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
components:
  securitySchemes:
    token:
      type: http
      description: Default authentication mechanism
      scheme: bearer
      x-speakeasy-example: PATTERN_REVEAL_API_KEY
  schemas:
    WorkspaceSchema:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        logo:
          type:
            - string
            - "null"
          default: null
        inviteCode:
          type:
            - string
            - "null"
        billingCycleStart:
          type: number
        plan:
          type: string
          enum:
            - free
            - pro
        totalReflections:
          type: number
        usage:
          type: number
        usageLimit:
          type: number
        reflectionsUsage:
          type: number
        reflectionsLimit:
          type: number
        aiUsage:
          type: number
        aiLimit:
          type: number
        usersLimit:
          type: number
        store:
          type: object
          additionalProperties: {}
        users:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                  - OWNER
                  - MEMBER
            required:
              - role
        createdAt:
          type: string
        updatedAt:
          type: string
        paddleCustomerId:
          type:
            - string
            - "null"
      required:
        - id
        - name
        - slug
        - logo
        - inviteCode
        - billingCycleStart
        - plan
        - totalReflections
        - usage
        - usageLimit
        - reflectionsUsage
        - reflectionsLimit
        - aiUsage
        - aiLimit
        - usersLimit
        - store
        - users
        - createdAt
        - updatedAt
        - paddleCustomerId
  responses:
    "400":
      description:
        The server cannot or will not process the request due to something
        that is perceived to be a client error (e.g., malformed request syntax,
        invalid request message framing, or deceptive request routing).
      content:
        application/json:
          schema:
            x-speakeasy-name-override: BadRequest
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - bad_request
                    description: A short code indicating the error code returned.
                    example: bad_request
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#bad-request
                required:
                  - code
                  - message
            required:
              - error
    "401":
      description:
        Although the HTTP standard specifies "unauthorized", semantically
        this response means "unauthenticated". That is, the client must
        authenticate itself to get the requested response.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: Unauthorized
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized
                    description: A short code indicating the error code returned.
                    example: unauthorized
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#unauthorized
                required:
                  - code
                  - message
            required:
              - error
    "403":
      description:
        The client does not have access rights to the content; that is, it
        is unauthorized, so the server is refusing to give the requested
        resource. Unlike 401 Unauthorized, the client's identity is known to the
        server.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: Forbidden
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - forbidden
                    description: A short code indicating the error code returned.
                    example: forbidden
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#forbidden
                required:
                  - code
                  - message
            required:
              - error
    "404":
      description: The server cannot find the requested resource.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: NotFound
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - not_found
                    description: A short code indicating the error code returned.
                    example: not_found
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#not-found
                required:
                  - code
                  - message
            required:
              - error
    "409":
      description:
        This response is sent when a request conflicts with the current
        state of the server.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: Conflict
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - conflict
                    description: A short code indicating the error code returned.
                    example: conflict
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#conflict
                required:
                  - code
                  - message
            required:
              - error
    "410":
      description: This response is sent when the requested content has been
        permanently deleted from server, with no forwarding address.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: InviteExpired
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - invite_expired
                    description: A short code indicating the error code returned.
                    example: invite_expired
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#invite-expired
                required:
                  - code
                  - message
            required:
              - error
    "422":
      description:
        The request was well-formed but was unable to be followed due to
        semantic errors.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: UnprocessableEntity
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - unprocessable_entity
                    description: A short code indicating the error code returned.
                    example: unprocessable_entity
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#unprocessable-entity
                required:
                  - code
                  - message
            required:
              - error
    "429":
      description: The user has sent too many requests in a given amount of time
        ("rate limiting")
      content:
        application/json:
          schema:
            x-speakeasy-name-override: RateLimitExceeded
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - rate_limit_exceeded
                    description: A short code indicating the error code returned.
                    example: rate_limit_exceeded
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#rate-limit_exceeded
                required:
                  - code
                  - message
            required:
              - error
    "500":
      description: The server has encountered a situation it does not know how to handle.
      content:
        application/json:
          schema:
            x-speakeasy-name-override: InternalServerError
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - internal_server_error
                    description: A short code indicating the error code returned.
                    example: internal_server_error
                  message:
                    x-speakeasy-error-message: true
                    type: string
                    description: A human readable explanation of what went wrong.
                    example: The requested resource was not found.
                  doc_url:
                    type: string
                    description: A link to our documentation with more details about this error code
                    example: https://docs.patternreveal.xyz/errors#internal-server_error
                required:
                  - code
                  - message
            required:
              - error
